# Stack/Cabal
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
# Latex
*.aux
*.log
*.out
*.gz
*.bbl
*.blg
proposal/_minted-proposal/
proposal/*.pdf

